{% extends "base.html" %}
{% load static %}
{% block page_content %}

<nav class="navbar navbar-inverse navbar-fixed-top " style="background-color:brown">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Capstone Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
	  <li><a href="#motivation">Motivation</a></li>
      <li><a href="#analysis">Analysis</a></li>
    </ul>
  </div>
</nav>


<div class="jumbotron" id="title" style="color:black">
    <h1 align="center"> 911 Emergency Preparedness </h1> 
    <p align="center"> Bootstrap is the most popular HTML, CSS, and JS framework for developing
    responsive, mobile-first projects on the web. </p> 
</div>

<div class="jumbotron" id="motivation" style="color:black">
	<h1 align="center">Motivation</h1> 
</div>

<div class="row" style="padding: 50px">
	<h4> For my capstone project, I am going to analyse data of calls received by the 911 hotline, with the goal of being be able model and predict emergencies 
	based on caller's information. This analysis would be beneficial in the following ways.</h4> 
	<ul class="list-group">
	<div class="panel-body"><li><h4> Cities can better plan for future emergencies, basing locations for new fire stations, police stations and hospitals on areas with high 911 traffic. </h4></li></div>
	<div class="panel-body"><li><h4> Emergency units can manage manpower more efficiently during different hours of the day or days of the week based on the likelihood of particular emergencies 
	during those periods. </h4></li></div>
	<div class="panel-body"><li><h4> Residents of an area would become better aware of the emergencies and therefore be better prepared to avoid them (mainly crime related emergencies). </h4></li></div>
	</ul>
	<h4> As the data source I am currently using the city of Baltimore's '911 Police Calls for Service' database which contains over 6 million entries of 911 calls with data on date, time, location and text descriptions 
of emergencies in the city over the past 6 years. The final project will use data from as many cities as I can get. 
	<a href="https://data.baltimorecity.gov/Public-Safety/911-Police-Calls-for-Service/xviu-ezkt" target="_blank" class="btn btn-info" role="button">Data Source!</a></h4>
</div>

<div class="jumbotron" id="analysis" style="color:black">
	<h1 align="center">Analysis</h1> 
</div>

<div class="row">
  <div class="col-sm-6" style="padding: 50px">
	<h4> 
	The dataset has 6,388,610 entries with 17 features. Although a lot of these features like the 'RecordID' shouldn't be of much use. There are also 'PoliceDistrict', 'District' and 'Neighborhood' which are 
	essentially the same information. Next, we group our data by PoliceDistrict and check for fluctuations in the number of 911 calls from the these districts over 6 years. The goal is to get an idea as to whether 
	geographic location has any bearing on the number of emergencies there.
	<br/> <br/>
	Interestingly, the data shows very little temporal variation. Instead, what we see is a steady but different rate of 911 calls coming in from different districts. The simplest explanation could have been the 
	population/size of these districts, but that did not turn out to be the case. The 'Northeastern' district, right next to the 'Northern' district is also roughly the same size. Yet, there is a consistent 40%
	higher rate of 911 calls coming in from that district. Curious, indeed!
	<br/> <br/>
	Note - I ignore the 2013 data being much less on account of it being the first year in the dataset and the data might not have been collected from the start of the year.
	</h4>
  </div>
  <div class="col-sm-6" style="padding: 50px">
	<img src="{% static "img/plot1.png" %}"  class="img-rounded" alt="Plot1" style="width:600px;height:600px;">
  </div>
</div>

<div class="row">
  <div class="col-sm-6" style="padding: 50px">
	<img src="{% static "img/plot2.png" %}"  class="img-rounded" alt="Plot2" style="width:600px;height:600px;">
  </div>
  <div class="col-sm-6" style="padding: 50px">
	<h4> To make this difference more apparent, I have a boxplot of the total number of 911 calls for the 9 districts given below, which better depicts the variation.
	
	</h4>
  </div>

</div>

<div class="row">
  <div class="col-sm-6" style="padding: 50px">
	<h4> 
	Now, we try to go deeper into the contents of these calls. I have a word cloud of the 'Call Descriptions' displayed, which gives us an idea about the emergencies that occur most frequently in the city.
	<br/> <br/>
	The most common descriptions as it turns out, ignoring 'No voice', are 'disorderly' (conduct), 'traffic stop' and 'common assault'. Lets take a closer look at one of these.	
	</h4>
  </div>
  <div class="col-sm-6" style="padding: 50px">
	<img src="{% static "img/wordcloud.png" %}"  class="img-rounded" alt="Wordcloud" style="width:600px;height:600px;">
  </div>
</div>

<div class="row">
  <div class="col-sm-6" style="padding: 50px">
	<img src="{% static "img/plot3.png" %}"  class="img-rounded" alt="Plot3" style="width:600px;height:600px;">
  </div>
  <div class="col-sm-6" style="padding: 50px">
	<h4> We look at the calls about disorderly conduct only, grouping the data by district and look at a boxplot of the number of calls received in each district from 2013 to 2019.
	<br/> <br/>
	The results are considerable different than when we looked all the data. While the 'Northern' district received the most 911 calls overall, it is infact the 'Central' district that has faced 
	the issue of disorderly conduct more.
	<br/> <br/>
	Clearly, the frequency of 911 calls are related to the locations the calls are made from and the reason for making them.
	</h4>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Created By Romir Moza</p> 
</footer>
{% endblock %}
